include mixins.jade

!!! 5
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')

    meta(name='description', content='')
    meta(name='viewport', content='width=device-width')

    link(rel='stylesheet', href='/css/main.min.css')

    block title
      title= "<%= _.capitalize(projectName) %>"
  body(class=currentPage)
    block header
      nav#primary
        ul
          li
            a(href="/", class=(currentPage === 'index' ? 'current' : '')) Home
          li
            a(href="/about.html", class=(currentPage === 'about' ? 'current' : '')) About

    block content
    block footer
      footer
        p
          small
            |Cobbled together by 
            a(href='http://shaunchurch.com') @shaunchurch
            |. Code borrowed from Twitter Bootstrap, HTML5 Boilerplate, Semantic Grid System.
            |Last built: 
            mixin builddate()

    script(src='/js/main.min.js',type="text/javascript")
    include ../partials/snippets.html
    include ../partials/upgrade-browser.html