extends base

block title
  title= post.title

block content
  section.content
    h1= post.title
    mixin postdate(post.date)
    div.post!= post.content
  aside.sidebar
    include ../partials/latest-posts
    include ../partials/try