h3 Key Features
ul
  li Very lightweight
  li Simple, Responsive and Semantic Grid
  li Few design styles...
  li ...just basic clean typography
  li Google Web Fonts Code
  li Analytics Code
  li Example Media Query Break Points
  li HTML5 Boilerplate .htaccess file
  li Gruntfile with watch, build and server tasks
  li Compile Jade, Less, CoffeeScript
  li Page and blog post static site generation
  li Easily extend these features or add other languages
