extends ../layouts/base

block title
  title= "About Substrata"

block content
  section.content
    h1 About Substrata
    p A front-end skeleton project.
  aside.sidebar
    include ../partials/try    
    include ../partials/key-features        