extends ../layouts/base

block content  
  header
      h1
        | Hello world! This is Substrata.    
        h2
          small
            | A front-end skeleton project.
  section.content.homepage
    h2.intro Get straight to work on what matters. Stop losing time on project setup. Lower the barrier to building a new site.
    p Substrata is a compilation of some of the best open source boilerplates and libraries on the web, a powerful set of grunt tasks to manage your workflow, and a minimalist collection of LESS mixins for many of the essentials you use all the time.
    
    div.install
      div.commands
        p
          strong
            | By typing these commands:
        pre
          | $ git clone https://github.com/shaunchurch/Substrata.git ~/my-new-project
          | $ cd ~/my-new-project
          | $ npm install
          | $ bower install
          | $ subl .
          | $ grunt server
      div.hpfeatures
        p 
          strong
            | You get these features ready to go:
        ul
          li Compile, lint and minify CSS, LESS, JavaScript, CoffeeScript, Jade with every file save
          li Live reload
          li Static site generation of pages and posts
          li Jade based templates
          li Markdown based 'posts' or blogging processor        
          li Command line server for local development
    
    p Because all of this is accomplished using open tools like NPM, Bower, Grunt, and Git it's also completely extensible and customisable. You're not locked in to anything, and Substrata aims to stay out of your way, providing only enough to enable a painless beginning.
  
    article
      h3 Why are you doing this?
      p
        | There are some superb tools and frameworks around that help us work faster and smarter. The trouble is that putting each piece in place to begin a new project can take time. So far, I haven't seen a boilerplate that sets up a blank canvas with everything I wanted ready to go.
      h3 What's the problem?
      p
        | Bootstrap is heavy, and contains lots of ready-made components that have to be redesigned. It's often overkill; too much. HTML5 Boilerplate comes with some great page defaults but isn't enough to get you working on what makes this project unique right away. Tools like Grunt are amazing, but can take quite some time to get set up.
      p
        | I want something that remains lightweight but that is powerful: a grid system that leaves my markup alone, a useful set of essential mixins, a stark template that serves as a blank canvas, the extras I need to support older browsers, and ready to go build tools. I want to clone it, run a few setup commands, and begin work.
      h3 This is Substrata
      p
        | A barebones skeleton for your next web project. A set of Less, JS and HTML starting files that target the sweet spot between too much and too little. A set of configuration files to get you up and running quickly with a reasonably modern workflow. It gets you going, and gets out of the way.
  aside.sidebar.homepage
    include ../partials/try    
    include ../partials/key-features    
    include ../partials/latest-posts
