h3 Key Features
ul
  li Very lightweight (about 8Kb minified)
  li Simple, Responsive and Semantic Grid
  li No design styles...
  li ...just basic clean typography
  li Google Web Fonts Code
  li Analytics Code
  li Example Media Query Break Points (that can easily be changed)
  li HTML5 Modernizr.js to support older browsers
  li HTML5 Boilerplate .htaccess file