// pull in Substrata library
@import 'less/substrata.less';

/*** [ Example Layout ] ***/

/* ==========================================================[ Base Styles - all viewports ]=== */

body {
	border-top: @baseLineHeight/2 solid @brand-blue;
	margin: 0; padding: 0 2%;
}

header {
	.negative-margins(2%);
	.text-center;	
	padding-top: @baseLineHeight*2;
	padding-bottom: @baseLineHeight*2;
	// background: url('../images/src/images/windowblur.jpg') center 800px;
	background: @brand-blue;
	margin-bottom: @baseLineHeight*2;
	h1 {
		color: @white;
	}

}

nav#primary {
	ul {
		.list-reset;
		.clearfix;
		li {
			float: left;
			margin: 0 @baseLineHeight/2;
			a {
				.transition();
				display: block;				
				padding: @baseLineHeight/2 @baseLineHeight/2;
				font-weight: bold;
				&:hover {
					background: @grayLighter;
					color: @brand-blue;
					text-decoration: none;
				}
			}
		}
	}
}

.latest-posts {
	.list-reset;
	li {
		border-bottom: 1px solid @grayLighter;
		a {
			display: block;
			padding: @baseLineHeight/2;
			&:hover {
				text-decoration: none;
				background: @grayLighter;
			}
		}
	}
}

footer {
	border-top: 1px solid @grayLighter;
	padding-top: @baseLineHeight;
}

a {
	.transition();	
}

/* ==========================================================[ Break Points ]=== */

/* Up to Landscape phone */
@media (max-width: 480px) {
	section.content { 		
		.features {			
			.feature {
				.column(12,12);
			}
		}
	 }
}

/* Landscape phone to desktop/tablet */
@media (min-width: 481px) {
	
	section.content { 
		.column(12);
		.features {
			.row(12);
			.feature {
				.column(4,12);
			} 
		}
	 }

	aside.sidebar { 
		.column(12);
	}
}

/* Tablet to desktop */
@media (min-width: 768px) and (max-width: 979px) {

}

/* Desktop or big toys */
@media (min-width: 980px) {

	section.content {
		.column(9);
		.features { 
			.row(9);	
			.feature {
				.column(3,9);			
			}
		}		
	}

	aside.sidebar { 
		.column(3);	
	}

	footer { 
		.column(12);
	}
}

/* Large desktop and up */
@media (min-width: 1200px) {

}

/*** [ End Example ] ***/

/* Debug */
/*div, section, header, footer, aside { border: 1px solid red; }*/