extends base

block title
  title= post.title

block content
  section.content
    h1= post.title
    h4= post.date
    div!= post.content
  aside.sidebar
    include ../partials/latest-posts
    include ../partials/try
    
